<!-- starts pages advanced search form container -->
<section class="form-container">
    <h3>Image advanced search form</h3>
<!-- starts pages advanced search -->
<form id="advanced-search-form-pages" class="advanced-search-form" action="pages-search-results" method="GET">
<fieldset>
  <legend>Fill the form</legend>
   
  <!-- With these words -->
   <label for="words"><strong>With</strong> these words:</label>
   <input id="words" type="text" name="words">
   <small>e.g.: group draw</small>
   
   <!-- With this phrase -->
   <label for="words"><strong>With</strong> this phrase:</label>
   <input id="words" type="text" name="words">
   <small>e.g.: euro 2004</small>
   
   <!-- Any of these words -->
   <label for="words"><strong>Without</strong> any of these words:</label>
   <input id="words" type="text" name="words">
   <small>e.g.: rugby</small>   
   
   <!-- Formats -->
   <label for="words"><strong>Format:</strong></label>
   <select id="format-type" name="format" class="">
    <option value="all" selected>All formats</option>
    <option value="pdf">Adobe PDF (.pdf)</option>
    <option value="ps">Adobe PostScript (.ps)</option>
    <option value="html">HTML (.htm, .html)</option>
    <option value="xls">Microsoft Excel (.xls)</option>
    <option value="ppt">Microsoft PowerPoint (.ppt)</option>
    <option value="doc">Microsoft Word (.doc)</option>
    <option value="rtf">Rich Text Format (.rtf)</option>
   </select>  
   
   <!-- Website -->
   <label for="words"><strong>Website:</strong></label>
   <input id="words" type="text" name="words">
   <small>e.g.: www.arquivo.pt</small>

   <!-- Number of results: pages -->
   <label for="number-of-results-pages"><strong>Number of results:</strong></label>
   <select id="number-of-results-pages" name="number-of-results-pages" class="">
   <option selected>10</option>
    <option>20</option>
    <option>30</option>
    <option>50</option>
    <option>100</option>
    <option>500</option>
    <option>1000</option>
    <option>2000</option> 
  </select> 

  <!-- starts advanced search navigation -->
  <section class="navigation-tools">
    <h3>Pages advanced search navigation</h3> 
    <button type="submit" class="search-form-advanced-button" value="Advanced Search">Search</button>
  </section> 
  <!-- ends advanced search navigation -->
   
</fieldset>   
</form>
<!-- ends pages advanced search -->
</section>
<!-- ends pages advanced search form container -->
    
  