<!-- starts pages search results: create a fetch loop here -->
<section id="pages-results" class="pages-results-cl">   
    <%- include('../fragments/loading-section',{
        action:'/partials/pages-search-results',
        onloadmessage: 'search-results'
    }) %>
</section>
<!-- ends pages search results -->