<!-- starts replay content -->  
   <iframe id="replay-in-iframe" name="replay-page" title="replay page" src="https://hotel-mix.de/">
       <h1>iframe content</h1>
   </iframe>
<!-- ends replay content -->
  