<!-- starts replay: table and list -->
<nav id="replay-table-results-nav">
  
    <h3>Replay table list</h3> 
    <!-- Hidden for future usage <button id="left-nav-close-button" onclick="closeLeftMenuNav()"><span>&times;</span></button>-->
   
    <!-- starts table and list navigation buttons -->
    <section class="table-results-buttons">
      <h4>Replay table list menu navigation buttons</h4>
      <button id="previous-navigation"><span class="fas fa-chevron-left" aria-hidden="true"></span></button> 
      
      <form id="replay-table" action="replay-table-results" method="GET">
      <button id="replay-table-button"><span class="fas fa-table" aria-hidden="true"></span> Table</button>
      </form>
      
      <form id="replay-list" action="replay-list-results" method="GET">
        <button id="replay-list-button" type="submit"><span class="fas fa-list" aria-hidden="true"></span> List</button>
      </form>

      <button id="next-navigation"><span class="fas fa-chevron-right" aria-hidden="true"></span></button>

    </section>
    <!-- ends table and list navigation buttons -->

    </nav> 
    <!-- ends replay: table and list -->
    <!-- starts table: shows results as a table -->
    <table id="replay-menu-table">        
        <thead>
            <tr id="display-year" class="year-table-row">
                <th id="year-01" class="year-table-head">1996</th>
                <th id="year-02" class="year-table-head">1997</th>
                <th id="year-03" class="year-table-head">1998</th>
                <th id="year-04" class="year-table-head">1999</th>
                <th id="year-05" class="year-table-head">2000</th>
                <th id="year-06" class="year-table-head">2001</th>
                <th id="year-07" class="year-table-head">2002</th>
                <th id="year-08" class="year-table-head">2003</th>
                <th id="year-09" class="year-table-head">2004</th>
                <th id="year-10" class="year-table-head">2005</th>           
            </tr>
        </thead>
        <tbody>
            <tr id="display-date-month" class="date-month-table-row">
                <td id="date-month-01" class="year-month-data"><a id="link-01" title="Insert title here">25 Jan</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-02" title="Insert title here">25 Fev</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-03" title="Insert title here">25 Mar</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-04" title="Insert title here">25 Apr</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-05" title="Insert title here">25 May</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-06" title="Insert title here">25 Jun</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-07" title="Insert title here">25 Jul</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-08" title="Insert title here">25 Aug</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-09" title="Insert title here">25 Sep</a></td>
                <td id="date-month-01" class="year-month-data"><a id="link-10" title="Insert title here">25 Oct</a></td>
            </tr>  
            <tr id="display-date-month" class="date-month-table-row">
              <td id="date-month-01" class="year-month-data"><a id="link-01" title="Insert title here">25 Jan</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-02" title="Insert title here">25 Fev</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-03" title="Insert title here">25 Mar</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-04" title="Insert title here">25 Apr</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-05" title="Insert title here">25 May</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-06" title="Insert title here">25 Jun</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-07" title="Insert title here">25 Jul</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-08" title="Insert title here">25 Aug</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-09" title="Insert title here">25 Sep</a></td>
              <td id="date-month-01" class="year-month-data"><a id="link-10" title="Insert title here">25 Oct</a></td>
          </tr>    
          <tr id="display-date-month" class="date-month-table-row">
            <td id="date-month-01" class="year-month-data"><a id="link-01" title="Insert title here">25 Jan</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-02" title="Insert title here">25 Fev</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-03" title="Insert title here">25 Mar</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-04" title="Insert title here">25 Apr</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-05" title="Insert title here">25 May</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-06" title="Insert title here">25 Jun</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-07" title="Insert title here">25 Jul</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-08" title="Insert title here">25 Aug</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-09" title="Insert title here">25 Sep</a></td>
            <td id="date-month-01" class="year-month-data"><a id="link-10" title="Insert title here">25 Oct</a></td>
        </tr>    
        <tr id="display-date-month" class="date-month-table-row">
          <td id="date-month-01" class="year-month-data"><a id="link-01" title="Insert title here">25 Jan</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-02" title="Insert title here">25 Fev</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-03" title="Insert title here">25 Mar</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-04" title="Insert title here">25 Apr</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-05" title="Insert title here">25 May</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-06" title="Insert title here">25 Jun</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-07" title="Insert title here">25 Jul</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-08" title="Insert title here">25 Aug</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-09" title="Insert title here">25 Sep</a></td>
          <td id="date-month-01" class="year-month-data"><a id="link-10" title="Insert title here">25 Oct</a></td>
      </tr>    
      <tr id="display-date-month" class="date-month-table-row">
        <td id="date-month-01" class="year-month-data"><a id="link-01" title="Insert title here">25 Jan</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-02" title="Insert title here">25 Fev</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-03" title="Insert title here">25 Mar</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-04" title="Insert title here">25 Apr</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-05" title="Insert title here">25 May</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-06" title="Insert title here">25 Jun</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-07" title="Insert title here">25 Jul</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-08" title="Insert title here">25 Aug</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-09" title="Insert title here">25 Sep</a></td>
        <td id="date-month-01" class="year-month-data"><a id="link-10" title="Insert title here">25 Oct</a></td>
    </tr>    
    <tr id="display-date-month" class="date-month-table-row">
      <td id="date-month-01" class="year-month-data"><a id="link-01" title="Insert title here">25 Jan</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-02" title="Insert title here">25 Fev</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-03" title="Insert title here">25 Mar</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-04" title="Insert title here">25 Apr</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-05" title="Insert title here">25 May</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-06" title="Insert title here">25 Jun</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-07" title="Insert title here">25 Jul</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-08" title="Insert title here">25 Aug</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-09" title="Insert title here">25 Sep</a></td>
      <td id="date-month-01" class="year-month-data"><a id="link-10" title="Insert title here">25 Oct</a></td>
  </tr>    
  <tr id="display-date-month" class="date-month-table-row">
    <td id="date-month-01" class="year-month-data"><a id="link-01" title="Insert title here">25 Jan</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-02" title="Insert title here">25 Fev</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-03" title="Insert title here">25 Mar</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-04" title="Insert title here">25 Apr</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-05" title="Insert title here">25 May</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-06" title="Insert title here">25 Jun</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-07" title="Insert title here">25 Jul</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-08" title="Insert title here">25 Aug</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-09" title="Insert title here">25 Sep</a></td>
    <td id="date-month-01" class="year-month-data"><a id="link-10" title="Insert title here">25 Oct</a></td>
</tr>              
        </tbody>
    </table>
    <!-- ends table: shows results as a table -->

    <!-- starts accordion for list -->  
    <script>
    var replayList = document.getElementsByClassName("accordion-replay-list");
    var i;
    
    for (i = 0; i < replayList.length; i++) {
      replayList[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>
    <!-- ends accordion for list -->
