<style>
    div.citation-saver-input-selection {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        min-width: 80%;
        font-family: 'Roboto', sans-serif;
        background-color: rgb(234 235 238);
        margin-top: 20px;
    }

    .citation-saver-input-selection input[type="radio"] {
        display: none;
    }

    .citation-saver-input-selection label {
        visibility: initial;
        height: auto;
        padding: 14px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        background-color: rgba(205, 206, 207, 1);
        color: #0F0F0F80;

        margin-right: 5px; 
        width: calc(33% - 32px);
        text-align: center;

    }

    .citation-saver-input-selection .input-tab {
        background-color: rgb(234 235 238);
        padding: 15px;
        order: 1;
        border-top: 1px solid rgba(3, 63, 114, 0.7);
        display: none;
    }

    .citation-saver-input-selection input[type="radio"]:checked+label+.input-tab {
        display: block;
        width: 100%;
        padding: 19px 34px 34px 34px;
    }

    .citation-saver-input-selection input[type="radio"]:checked+label {
        background-color: rgb(234 235 238);
        color: black;
        border-bottom: 3px solid #002849;
    }

    .citation-saver-input-selection .input-tab form,
    .citation-saver-input-selection .input-tab label,
    .citation-saver-input-selection .input-tab input,
    .citation-saver-input-selection .input-tab small {
        display: block;
        width: 100%;
    }

    .citation-saver-input-selection .input-tab label {
        background-color: transparent;
        color: black;
        text-align: left;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 4px;
    }


    .citation-saver-input-selection .input-tab small {
        font-size: small;
        margin: 5px 11px;
    }

    .citation-saver-input-selection .input-tab input,
    .citation-saver-input-selection .input-tab textarea {
        height: 45px;
        width:100%;
        border: 1px solid #C4C4C4;
        background-color: white;
        border-radius: 5px;
        padding: 0 0 0 11px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #6F6F6F;
    }


    .citation-saver-input-selection .input-tab textarea {
        height:200px;
        padding: 11px;
        resize: vertical;
        width: calc(100% - 11px);
    }

    .citation-saver-input-selection .input-tab input[type="file"] {
        padding: 0 11px 0 0;
    }

    .citation-saver-input-selection .input-tab button {
        font-size: 14px;
    }

    .citation-saver-input-selection .input-tab button[type="submit"] {
        margin-top: 14px;        
        font-size: 18px;
        line-height: 21px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .citation-saver-input-selection .input-tab input[type=file]::file-selector-button {
        padding: 14px 8.65px;
        color: white;
        background-color: #1c75c0;
        font-family: inherit;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid #1c75c0;
        outline: none;
        z-index: 1;
    }

    .citation-saver-input-selection .input-tab input[type=file]::file-selector-button:hover {
        color: #1c75c0;
        background-color: white;
        border: 1px solid #1c75c0;
        outline: none;
        cursor: pointer;
    }
    .citation-saver-input-selection .input-tab input[type=file]::file-selector-button:active {
        color: #f9fcff;
        background-color: #00101e;
        border: 1px solid #00101e;
        outline: none;
        cursor: pointer;
    }

    #citation-saver-main{
        margin-bottom: 50px; 
    }
    #citation-saver-main h4 {
        display: inline;
        font-weight: 700;
        padding-left: 10px;
    }

    #logo-citation-saver {
        margin-top:25px;
    }
</style>

<section id="citation-saver-main">
    <h3 class="accessibility"><%= t('services-citation-saver.accessibility') %></h3>
    <img id="logo-citation-saver" class="image-width" src="/img/CitationSaver.svg" alt="CitationSaver">
    <h4 id="save-page-now-slogan"><%= t('services-citation-saver.slogan') %></h4>

    <p style="line-height: 27px;margin-top: 20px;"><%- t('services-citation-saver.description.1') %></p>
    <p style="line-height: 27px;"><%- t('services-citation-saver.description.2') %></p>

    <div class="citation-saver-input-selection">
        <input type="radio" name="input-selection" id="input-url" checked="checked">
        <label for="input-url">URL</label>
        <div class="input-tab">
            <form action="/services/citationsaver" method="post">
                <label for="input-url-url">Insert the URL to the document:</label>
                <input type="text" name="url" id="input-url-url">
                <small>Accepted formats: PDF</small>


                <label for="input-url-email">Email (optional):</label>
                <input type="text" name="email" id="input-url-email">
                <small>We will warn you when the archived content becomes accessible on Arquivo.pt</small>


                <button type="submit">Save</button>
            </form>
        </div>
        <input type="radio" name="input-selection" id="input-file-upload">
        <label for="input-file-upload">File Upload</label>
        <div class="input-tab">
            <form action="/services/citationsaver" method="post" enctype="multipart/form-data">
                <label for="input-file-file">Upload a document from your computer:</label>
                <input type="file" name="file" id="input-file-file">
                <small>Accepted formats: PDF</small>


                <label for="input-file-email">Email (optional):</label>
                <input type="text" name="email" id="input-file-email">
                <small>We will warn you when the archived content becomes accessible on Arquivo.pt</small>

                <button type="submit">Save</button>
            </form>
        </div>

        <input type="radio" name="input-selection" id="input-text">
        <label for="input-text">Text</label>
        <div class="input-tab">
            <form action="/services/citationsaver" method="post">
                <label for="input-text-text">Insert a text containing links:</label>
                <textarea id="input-text-text" name="text"></textarea>


                <label for="input-text-email">Email (optional):</label>
                <input type="text" name="email" id="input-text-email">
                <small>We will warn you when the archived content becomes accessible on Arquivo.pt</small>

                <button type="submit">Save</button>
            </form>
        </div>
    </div>


</section>


<!-- <div class="v561_2">
    <div class="v561_3"></div><span class="v561_73">Accepted formats: PDF</span>
    <div class="v561_4"></div><span class="v561_5">Navegue para ir gravando as páginas</span><span
        class="v561_6">SavePageNow </span>
    <div class="v561_7"></div>
    <span class="v561_11">Email (optional):</span>
    <div class="v561_13"></div>
    <div class="v561_14"></div>
    <div class="v561_15">
        <div class="v561_16"></div><span class="v561_17">Save</span>
        <div class="v561_64"></div>
    </div><span class="v561_18">mailbox@domain.pt</span><span class="v561_19">https://www.fccn.pt/file.pdf</span><span
        class="v561_72">We will warn you when the archived
        content becomes accessible in Arquivo.pt</span>
    <div class="v561_20"></div>
    <div class="v561_21"></div>
    <div class="v561_22"></div>
    <div class="v561_23"></div><span class="v561_24">File upload</span><span class="v561_25">Text</span>
    <div class="v561_26"></div>
    <div class="v561_27"></div>
    <div class="v561_28"></div><span class="v561_29">Insert the URL to the document: </span><span
        class="v561_67">Preserves citations to online content</span><span class="v561_68">Documents cite online
        content that quickly disappears.

        CitationSaver preserves the content of cited links (e.g. references to web pages in a book)so that they can
        be later recovered from Arquivo.pt.</span><span class="v561_33">URL</span>
    <div class="v561_34">
        <div class="v561_35">
            <div class="v561_36"></div>
        </div>
    </div>
</div>


<form action="fileupload" method="post" enctype="multipart/form-data">
    <label for="email">Email:</label><input type="text" name="email" id="email-input">
    <input type="file" name="testFile" id="file-input">
    <input type="submit" value="Submit">
</form> -->