<!-- starts pages search results: create a fetch loop here -->
<section id="pages-results" class="pages-results-cl">
    <section id="loading-section">
        <form id="loading-form" action="/fragments/pages-search-results">
            <%- include("../fragments/hidden-search-inputs") -%>
            <button id="loading-results" type="submit" value="loading results" aria-hidden="true">loading results</button>
        </form>        
        <%- include("../fragments/preloader") -%>
    </section>
</section>
<!-- ends pages search results -->