<!-- starts pages search results: create a fetch loop here -->
<section id="pages-results" class="pages-results-cl">
    <h3>Page Search Results</h3>
    <%- include('../fragments/loading-section',{action:'/partials/pages-search-results'}) %>
</section>
<!-- ends pages search results -->