<!-- starts pages search results: create a fetch loop here -->
<section id="images-results" class="images-results-cl">
    <h3>Images Search Results</h3>    
    <p id="estimated-results" <span id="estimated-results-value">About 1.261.810.181</span> results from 1996 to 2021</p></li>

    <!-- starts result #1 -->
    <ul>
        <!-- starts image result #1 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-05.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>        
        <!-- ends image result #1 -->
        <!-- starts image result #2 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-02.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #2 -->
        <!-- starts image result #3 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-03.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #3 -->
        <!-- starts image result #4 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-04.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #4 -->
        <!-- starts image result #5 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-05.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #5 -->
        <!-- starts image result #6 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-06.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #6 -->
        <!-- starts image result #7 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-07.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #7 -->
        <!-- starts image result #8 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-08.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #8 -->
        <!-- starts image result #9 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #9 -->
        <!-- starts image result #10 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #10 -->
    
     <!-- starts image result #1 -->
        <li>            
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-02.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul> 
        </li>
        <!-- ends image result #1 -->
        <!-- starts image result #2 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-02.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #2 -->
        <!-- starts image result #3 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-03.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #3 -->
        <!-- starts image result #4 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-04.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #4 -->
        <!-- starts image result #5 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-05.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #5 -->
        <!-- starts image result #6 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-06.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #6 -->
        <!-- starts image result #7 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-07.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #7 -->
        <!-- starts image result #8 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-08.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #8 -->
        <!-- starts image result #9 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #9 -->
        <!-- starts image result #10 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #10 -->
        <!-- starts image result #1 -->
        <li>            
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-02.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul> 
        </li>
        <!-- ends image result #1 -->
        <!-- starts image result #2 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-02.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #2 -->
        <!-- starts image result #3 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-03.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #3 -->
        <!-- starts image result #4 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-04.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #4 -->
        <!-- starts image result #5 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-05.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #5 -->
        <!-- starts image result #6 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-06.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #6 -->
        <!-- starts image result #7 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-07.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #7 -->
        <!-- starts image result #8 -->
        <li>
            <ul>                
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-08.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #8 -->
        <!-- starts image result #9 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #9 -->
        <!-- starts image result #10 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #10 -->
    
     <!-- starts image result #1 -->
        <li>            
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-02.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul> 
        </li>
        <!-- ends image result #1 -->
        <!-- starts image result #2 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-02.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #2 -->
        <!-- starts image result #3 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-03.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #3 -->
        <!-- starts image result #4 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-04.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #4 -->
        <!-- starts image result #5 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-05.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #5 -->
        <!-- starts image result #6 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-06.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #6 -->
        <!-- starts image result #7 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-07.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #7 -->
        <!-- starts image result #8 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-08.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #8 -->
        <!-- starts image result #9 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #9 -->
        <!-- starts image result #10 -->
        <li>
            <ul>
                <li><a href="#technical-details" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
                <li><a href="#technical-details" rel="modal:open" class="results-image"><img src="../img/lisboa-09.jpg" title="Image description here" alt="Insert here description of image for screen readers purposes"></a></li>
                <li><a href="#" class="results-url" title="hotel-mix.de/hotels/portugal/lisbon">→ hotel-mix.de/hotels/portugal/lisbon</a></li>
                <li><p class="results-date">12 January at 15:42 2015</p></li>
            </ul>            
        </li>
        <!-- ends image result #10 -->
    </ul>
    <!-- starts navigation tools --> 
    <section class="navigation-tools">
        <h3>Images navigation</h3>
        <button type="submit" class="previous-page fas fa-chevron-left" aria-hidden="true" value="previous page"></button>
        <p>Page 1 of 100</p>
        <button type="submit" class="next-page fas fa-chevron-right" aria-hidden="true" value="next page"></button>
    </section>
    <!-- ends navigation tools -->
</section>
<!-- ends pages search results -->