<h4 id="modal-datepicker-title"></h4>
<input size="10" type="text" id="modal-datepicker-input">
<p id="modal-datepicker-input-p">
    <%= t('modal-datepicker.datehint') %>
</p>
<div id="modal-datepicker-datepicker"></div>
<button id="modal-datepicker-confirm-button">
    <span id="modal-datepicker-confirm-button-span">OK</span>
</button>