section#pages-results,
section#images-results {
    padding-bottom: 0px !important;
    margin-bottom: -55px !important;
}

/* ANCHOR LINKS for search results page: visited ********************************************************** */

body#pages-search-results ul>li>a.results-title:visited {
    color: rgb(0, 139, 58);
}

body#table-list-results table td a {
    font-size: 12px;
}

body#images-search-results main,
body#pages-search-results main {
    margin: 0 auto 80px auto;
}

body#images-search-results section#images-results h3,
body#pages-search-results section#pages-results h3 {
    visibility: hidden;
    height: 0;
}



body#pages-search-results form.pages-search-results-list button {
    margin: 17px 0 5px 0;
}

body#images-search-results main,
body#images-search-results section#images-results {
    max-width: 100%;
}

body#images-search-results main {
    width: 100%;
    max-width: 2560px;
}

#list-results-container a.accordion-replay-list:not(.active):after {
    content: url(../img/button-a-down.svg);
    float: right;
    font-size: 0.9em;
    position: relative;
    font-weight: normal;
    clear: both;
    height: 0;
    right: -28px;
    top: -20px;
}

#list-results-container a.accordion-replay-list:not(.active):hover:after {
    top: -18px;
}

#list-results-container .active:after {
    clear: both;
    height: 0;
    right: -28px;
    top: -20px;
}

#list-results-container .active:hover:after {
    top: -18px;
}

body#table-list-results main .painel {

    padding: 0px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* starts Table and list menu ************************************************** */

body#table-list-results main {
    width: 100%;
    max-width: 100%;
    padding: 0px 1px 1px 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
}

body#table-list-results section#list-results-container {
    width: 100%;
    max-width: 958px;
    padding: 20px 1px 20px 1px;
    background-color: #033f72;
    border-radius: 5px;
    margin-bottom: 100px;
}

body#list-results main {
    width: 100%;
    max-width: 958px;
    padding: 0px 1px 40px 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
}

body#table-list-results #replay-list-results-nav {
    width: 100%;
}

body#table-list-results section.table-results-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #033f72;
}

body#table-list-results section.list-results-buttons {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 20px 0 0 0;
}

body#table-list-results section.list-results-buttons button {
    margin: 0 5px;
}

body#table-list-results section.table-results-buttons button#replay-table-button,
body#table-list-results section.table-results-buttons button#replay-list-button {
    height: 27px;
    margin: 0 5px;
}

body#table-list-results section.list-results-buttons button#replay-table,
body#table-list-results section.list-results-buttons button#replay-list {

    width: 64px;
    margin: 0 5px;
}

button#previous-navigation {
    position: absolute;
    left: 0;
    width: auto;
    height: auto;
    margin: 0 10px;
}

button#next-navigation {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
    margin: 0 10px;
}

/* Hide previous and next buttons when on list versions page */

.list-results-buttons button#next-navigation,
.list-results-buttons button#previous-navigation {
    display: none;
}

body#table-list-results nav#replay-table-results-nav h3,
body#table-list-results nav#replay-table-results-nav h4,
body#table-list-results nav#replay-list-results-nav h3,
body#table-list-results nav#replay-list-results-nav h4 {
    visibility: collapse;
    height: 0;
    display: none;
}

body#table-list-results nav#replay-table-results-nav li.menu-pages-replay-date-hour a,
body#table-list-results nav#replay-list-results-nav li.menu-pages-replay-date-hour a {
    padding: 16px 0 16px 42px;
    width: auto;
    display: block;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px solid #cccccc47;
}

body#table-list-results nav#replay-table-results-nav li.menu-pages-replay-date-hour:hover a::after,
body#table-list-results nav#replay-list-results-nav li.menu-pages-replay-date-hour:hover a::after {
    content: "See page \2192";
    float: right;
    margin-right: 18px;
    padding-left: 20px;
}

/* Table */

/* Not found terms */

section#not-found-container {
    width: 100%;
    padding: 0 10px;
}

section#not-found-container h3,
section#not-found-container h4 {
    visibility: collapse;
    height: 0;
}

section#not-found-message {
    margin: 10px auto;
    width: 100%;
    max-width: 960px;
    font-size: 13px;
    border-radius: 5px;
}

body#table-list-results section#url-results {
    width: 100%;
}

body#table-list-results section.header-content-container {
    position: relative;
}

body#table-list-results section#table-results-container {
    width: 100%;
}

body#table-list-results #tablePresentation {
    overflow-x: scroll;
    overflow-y: auto;
    height: 49vh;
    margin-bottom: 100px;
}

body#table-list-results #tablePresentation {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

body#table-list-results #tablePresentation::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body#table-list-results section#url-results h3,
body#table-list-results section#replay-menu-list h4 {
    visibility: collapse;
    height: 0;
}


body#pages-search-results #confirm-narrative-modal,
body#images-search-results #confirm-narrative-modal {
    width: 100%;
    max-width: 320px;
}

body#images-search-results section.image-container {
    display: flex;
    justify-content: center;
    padding: 0px 0 0px 0;
}


body#images-search-results div#ui-datepicker-div div.jquery-modal div#modal {
    width: 270px;
}

body#table-list-results p#estimated-results,
body#list-results p#estimated-results,
body#pages-search-results p#estimated-results,
body#images-search-results p#estimated-results {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 9px;
    font-size: 12px;
    color: #535353;
    max-width: 970px;
    margin: 0 auto;
}

body#table-list-results p#estimated-results strong,
body#list-results p#estimated-results strong,
body#pages-search-results p#estimated-results strong,
body#images-search-results p#estimated-results strong {
    font-weight: 700;
    color: #333;
}


/* Not found and search suggestion page */

body#pages-search-results section#pages-results,
body#images-search-results section#images-results {
    padding: 0px 10px 20px 10px;
    width: 100%;
}

section#not-found-container p#no-results-were-found {
    background-color: #fbf2f2;
    color: #d05289;
    margin: auto;
    width: auto;
    max-width: 955px;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    border-radius: 3px;
}

section#not-found-container ul:hover {
    box-shadow: none;
}

section#search-suggestion-container h3,
section#search-suggestion-container h4 {
    visibility: collapse;
    height: 0;
}

section#not-found-message ul li.list-title,
section#search-suggestion-message ul li.list-title {
    padding-left: 0;
    list-style-type: none;
    font-weight: bold;
}

section#search-suggestion-message p {
    background-color: #f2fbf6;
    ;
    color: #000000;
    margin: 10px auto 0 auto;
    width: auto;
    max-width: 930px;
    font-size: 13px;
    padding: 15px;
    border-radius: 3px;
}

section#not-found-container,
section#search-suggestion-container {
    padding: 0 0px;
    font-size: 13px;
    color: #70757a;
    margin: 0 auto 10px auto;
    width: 100%;
    max-width: 100%;
}

section#not-found-container ul li,
section#search-suggestion-message ul li {
    margin: auto;
    width: 100%;
    font-size: inherit;
    margin-top: 5px;
    border-radius: 5px;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 20px;
}

section#not-found-message>ul,
section#search-suggestion-message>ul {
    background-color: #f6f6f6;
    color: #000000;
    margin: auto;
    margin-bottom: 150px;
    width: auto;
    font-size: 13px;
    margin-top: 10px;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
    display: list-item;
}

section#not-found-container section#search-suggestion-container {
    margin-top: 10px;
}

section#not-found-message>ul li.fix-padding,
section#search-suggestion-message>ul li.fix-padding {
    padding-top: 10px;
}

section#not-found-message span.bold-text,
section#search-suggestion-message span.bold-text {
    font-weight: bold;
}


section#not-found-message>ul li a,
section#search-suggestion-message>ul li a,
section#search-suggestion-message p a {
    color: #1c75c0;
    text-decoration: none;
}

section#not-found-message>ul li a:hover,
section#search-suggestion-message>ul li a:hover,
section#search-suggestion-message p a:hover {
    color: #1c75c0;
    background-color: transparent;
    text-decoration: underline;
}

section#pages-results ul {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 23px 20px 20px 20px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: box-shadow 0.3s;
    min-width: 240px;
}

section#pages-results ul.sub-results {
    margin-left: 20px;
}

section#pages-results ul:hover,
section#pages-results ul:active {
    transition: box-shadow 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

section#pages-results ul>li>p {
    color: #4d5156;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.58;
    text-align: left;
}

section#pages-results ul>li>p.results-url,
section#pages-results ul>li>p.results-date {
    padding-bottom: 10px;
}

section#pages-results ul>li>a {
    text-decoration: none;
}

section#pages-results ul>li>a:hover {
    text-decoration: underline;
}

section#pages-results ul>li>a.results-url {
    display: block;
    color: #009688;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    padding: 0 0 5px 0;
    text-decoration: none;
}

section#pages-results ul>li>a.results-title {
    display: block;
    padding: 5px 0;
    font-size: 20px;
    color: #1a0dab;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

section#pages-results ul>li>a.results-title:visited {
    color: #83077d;
}

section#pages-results ul>li>a.results-title em {
    font-weight: bold;
}

section#pages-results ul>li>a.results-date {
    color: #1a0dab;
    font-size: 20px;
    font-style: italic;
}

section#pages-results ul>li>.results-summary {
    display: block;
    text-decoration: none;
    padding-bottom: 0;
    color: #4d5156;
    font-size: 14px;
    line-height: 1.58;
    font-weight: normal;
}
section#pages-results ul>li>.results-summary em{
    font-weight: bold;
}
section#pages-results+ul:nth-last-child(1) {
    margin-bottom: 0px !important;
}

/* Image page results */

section#images-results ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
}

section#images-results ul#image-cards-container>li {
    position: relative;
    width: 150px;
    margin: 0 1px 2px 1px;
    padding: 7px 10px 15px;
    background-color: #f5f5f5;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    display: grid;
    transition: 0.3s;
    grid-auto-columns: auto;

}

section#images-results ul#image-cards-container>li:hover {
    position: relative;
    z-index: 1;
    background-color: #e9e9e9d1;
    -webkit-box-shadow: 0px 20px 10px -7px rgb(0 0 0 / 20%);
    box-shadow: 0px 20px 10px -7px rgb(0 0 0 / 20%);
    transition: 0.3s;
}

section#images-results ul>li button.zoom-image,
section#images-results ul>li a.zoom-image {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 10px;
    padding: 5px;
    font-size: small;
    display: none;
    color: white;
    background-color: #009687d0;
    border: none;

}

section#images-results ul>li:hover button.zoom-image,
section#images-results ul>li:hover a.zoom-image {
    display: none;
    color: white;
    background-color: #009687c5;
    transition: 0.5s;
}

section#images-results ul>li button.zoom-image:hover,
section#images-results ul>li a.zoom-image:hover {
    color: white;
    background-color: #026157c0;
    cursor: pointer;
    display: none;
}

section#images-results ul>li>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    font-size: small;
    background-color: transparent;
    max-width: 100%;
}

section#images-results ul>li>ul>li {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    font-size: 0.9em;
    padding: 0;
    background-color: transparent;
    border: none;
}

section#images-results ul>li>ul>li.results-url {
    display: flex;
    padding: 10px 0 5px 0;
    width: 150px;
}

section#images-results a.results-url {
    width: 150px;
}

section#images-results ul>li>ul>li a {
    padding-top: 10px;
    color: teal;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.95em;
}

section#images-results ul>li>ul>li a:hover {
    background-color: transparent;
}

section#images-results ul>li>ul>li p {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 4px;
    font-size: 0.85em;
}

section#images-results ul li a img {
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 0%);
    cursor: pointer;
    transition: box-shadow 0.3s;
    width: auto;
    max-height: 100px;
    max-width: 100%;
}

/* Not found message */
section#not-found-message ul {
    margin-bottom: 150px;
}

section#images-results ul li:hover a img {
    box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 60%);
    cursor: pointer;
    transition: box-shadow 0.3s;
}

section.navigation-tools {
    position: relative;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px 0px 0;
    border-top: 1px solid #ccc;
    align-content: center;
    align-items: center;
    font-size: small;
}

body#pages-search-results section.navigation-tools button,
body#images-search-results section.navigation-tools button {
    margin: 0 12px;
    border-radius: 4px;
    font-size: 0.9em;
    z-index: 0;
}

body#pages-search-results section.navigation-tools,
body#images-search-results section.navigation-tools {
    border-top: 0px solid #e8e8e8;
    margin-top: 0px;
    padding-top: 20px;
    height: auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body#pages-search-results section.navigation-tools button,
body#images-search-results section.navigation-tools button {
    margin: 0;
}

body#pages-search-results section.navigation-tools {
    border-top: none;
    clear: both;
}

body#pages-search-results section.navigation-tools section#pages-results ul:last-child() {
    padding-bottom: none;
}

/* Hide preloader form button and accessibility header */
section#loading-section form#loading-form button#loading-results,
section#loading-section h3 {
    visibility: collapse;
    height: 0;
}

@media (min-width: 1281px) {

    body#pages-search-results button#nav-options-right-button,
    body#images-search-results button#nav-options-right-button {
        display: block;
    }
}

@media (min-width: 0px) and (max-width: 767px) {

    body#pages-search-results button#nav-options-right-button,
    body#images-search-results button#nav-options-right-button,
    body#landing-replay button#nav-options-right-button {
        display: block;
        background: none;
        border: none;
        outline: none;
    }

    body#pages-search-results button#nav-options-right-button:hover,
    body#images-search-results button#nav-options-right-button:hover,
    body#landing-replay button#nav-options-right-button:hover {
        color: #ffffff;
    }

    button#nav-menu-button-left,
    button#nav-menu-button-left,
    button#nav-menu-button-left {
        background: none;
        padding: 0;
        border: none;
        outline: none;
    }

    button#nav-menu-button-left:hover,
    button#nav-menu-button-left:hover,
    button#nav-menu-button-left:hover {
        color: #ffffff;
    }

    body#pages-search-results button#nav-options-right-button-mobile,
    body#images-search-results button#nav-options-right-button-mobile,
    body#landing-replay button#nav-options-right-button-mobile {
        display: block;
        position: absolute;
        right: 13px;
        font-size: 1.050em;
        border-radius: 3px;
        width: 31px;
        height: 31px;
        background-color: transparent;
        border: none;
    }

    body#pages-search-results button#nav-options-right-button-mobile:hover,
    body#images-search-results button#nav-options-right-button-mobile:hover,
    body#landing-replay button#nav-options-right-button-mobile:hover {
        color: white
    }

    /* Images: results */
    section#images-results ul li a img {
        box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 0%);
        cursor: pointer;
        transition: box-shadow 0.3s;
        width: 100%;
        max-width: 220px;
    }

}


@media (max-width: 415px) {

    /* Galaxy Fold: ##Screen = B/w 280px to 653px */

    @media (width: 280px) and (height: 653px) {

        body#pages-search-results button#nav-options-right-button {
            display: none;
        }

        body#pages-search-results button#nav-options-right-button-mobile {
            display: block;
            position: absolute;
            right: 10px;
            font-size: 1.050em;
            border-radius: 3px;
            width: 31px;
            height: 31px;
        }

    }

    @media (min-width: 0px) and (max-width: 415px) {

        /* Extend to 100% width left and right navigation buttons from both image and pages results navigation pages */
        section#images-results ul li a img {
            box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 0%);
            cursor: pointer;
            transition: box-shadow 0.3s;
            width: auto;
            max-height: 250px;
            max-width: 100%;
        }

        body#images-search-results section.navigation-tools,
        body#pages-search-results section.navigation-tools {
            justify-content: center;
            margin-top: 0px;
            padding-top: 20px;
            height: auto;
            max-width: 960px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        p#estimated-results {
            padding-top: 20px !important;
        }

    }
}