@charset "utf-8";
/* Start main CSS styles ---------------------------------------------*/

/* BODY ****************************************************************** */

body {
  font-family: arial,sans-serif;
  overflow: auto;
  overflow-x:hidden;
  -webkit-font-smoothing: subpixel-antialiased;  
}

/* Skip navigation menu and go direct to main content */
a#skip-navigation-links {
  display: none;
}

/* ANCHOR LINKS ********************************************************** */

a {
  color:white;
}
a:hover {
  color:blue;
  background-color: white;
}
a:active {
  color:blue;
  background-color: white;
}
a:visited {
  color: blueviolet; 
}

/* BUTTONS ************************************************************** */

button {
  position: relative;
  z-index: 1;
  color: white;
  background-color: #1c75c0;
  border-radius: 3px;
  border: 1px solid #1c75c0;
  outline: none;
  font-size: small;
  
}
button:hover {
  color: #1c75c0;
  background-color: white;
  border: 1px solid #1c75c0;
  outline: none;
  cursor: pointer;
}
button:active {
  color: #f9fcff;
  background-color: #033f72;  
  border: 1px solid #033f72;
  outline: none;
  cursor: pointer;
}

/* Serach button */
button#submit-search {
  font-size: initial;
}


/* HEADINGS  ************************************************************* */

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  padding: 0;
  margin: 0;  
}
h1, h2 {
  visibility: collapse;
  height: 0;
}

/* PARAGRAPH ************************************************************* */

/* Lists */

/* Definition lists */

/* Images */

/* HEADER *********************************************************** */

header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 8px 0 4px 0;
  background-color:#033f72;
  text-align: center;  
 }

header a#logo-arquivo-link:hover {
  background-color: transparent;
}

header button#nav-menu-button-left  {
  position: absolute;
  left: 10px;
  width: 54px;
  height: 31px;  
  font-size: 0.8em;
  border-radius: 3px;    
 }

 header button#nav-menu-mobile-button-left {
  display: none;
}

 header button#nav-options-right-button  {
  position: absolute;
  right: 10px; 
  width: 66px;
  height: 31px;
  font-size: 0.8em;
  border-radius: 3px; 
  display: block;    
 }

 header img {
  width: 162px;
 } 

 /* Main ************************************************************* */
main {
  width:100%;
  height: auto;
  max-width: 980px;
  padding:0 10px;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

body#images-search-results main, body#images-search-results section#images-results  {  
  max-width: 100%;
}

body#images-search-results main {  
  width: 100%;
  max-width: 2560px;
}
/* nav menus: left nav, options, replay and replay right nav  **************************************************************** */

nav#left-nav, nav#options-right-nav, nav#replay-nav, nav#replay-right-nav  {
position: absolute;
z-index: 3;
top: 0px;
padding: 46.5px 0px;
height: 100vh;
color: white;
background-color:#033f72;   
outline: none;
transition: 0.25s
}

nav#left-nav { 
  left: -209px;    
  width: 200px; 
}

nav#options-right-nav {   
  right: -209px;    
  width: 200px;  
 }

/* Enables options to be visible when searching for pages and images */ 

body#landing-pages button#nav-options-right-button, body#landing-images button#nav-options-right-button  { 
  display: block;
}
/* Disables options to be visible when searching for pages and images */ 

body#homepage button#nav-options-right-button  { 
  display: none;
}

nav#replay-nav { 
  left: -209px;    
  width: 200px;  
}

nav#replay-right-nav { 
  right: -209px;     
  width: 200px;
 
}

/* "hidden" white rectangle with both left and right top corners curved, below the arquivo.pt logo */ 

.background-top-curve {
  position: relative;
  z-index: 0;
  top: 4px;
  margin: 0;  
  height: 20px;  
  background-color: white;  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;  
}

/* "hidden" white rectangle with both left and right top corners curved, below the arquivo.pt logo */ 

.background-bottom-curve {
  position: relative;
  z-index: 0;
  bottom: -58px;
  width: 100%;
  margin: 0;    
  height: 20px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav#left-nav button, nav#options-right-nav button, nav#replay-nav button, nav#replay-right-nav button {
  position: absolute;
  z-index: 3;
  top: 5px;
  right: 7px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  }

nav#left-nav button span, nav#options-right-nav button span  {
    font-size: 26px;
    font-weight: lighter;  
    }

nav#left-nav section, nav#options-right-nav section  {
position: relative;
z-index: 3;
margin: 0 0 0 0;
padding: 0;
height: 100%;
color: white;
}

nav#left-nav h3, nav#options-right-nav h3, nav#replay-nav h3, nav#replay-right-nav h3, nav#left-nav h4, nav#options-right-nav h4, nav#replay-nav h4, nav#replay-right-nav h4  {
   visibility: collapse;
   height: 0;
    }

/* Accordion menus: left nav, options, replay and replay right nav ********************************** */

.accordion-left-menun {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25em;
  transition: 0.1s;
}
.active, .accordion-left-menu:hover {
  background-color: transparent;
}
.accordion-left-menu:after {
  content: "\002B";
  float: right;
  font-size: inherit;
}
.active:after {
  content: "\2212";
  float: right;
  font-size: 1.25em;
}
.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* starts nav MENU: left and right **************************************************
***********************************************************************************
******************************************************************************* */

nav#left-nav section ul, nav#options-right-nav section ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 2.6em;
  text-align: left;  
  }

nav#left-nav section ul > li, nav#options-right-nav section ul > li { 
  border-top: 1px solid #e3e3e32e; 
  display: block;  
}

nav#left-nav section ul > li a, nav#options-right-nav section ul > li a{ 
    display: block;
    text-decoration: none;
    color: white;
    padding: 0px 16px 0px 15px;
    font-size: 0.85em;   
  }

/* starts Font Awesome icons */
nav#left-nav section ul > li span, nav#options-right-nav section ul > li span { 
  padding-right: 8px;  
}
/* ends Font Awesome icons */

nav#left-nav section ul > li a:hover, nav#options-right-nav section ul > li a:hover {    
  color:#033f72;
  background-color: white;
}

nav#left-nav section ul > li a:active, nav#options-right-nav section ul > li a:active {    
  color: white;
  background-color: #033f72;
}

/* nav sub-menu ******************************************************************* */
nav#left-nav section ul > li > ul > li a, nav#options-right-nav section ul > li > ul > li a { 
  padding: 0 0 0 25px;
  font-size: 0.85em;
}
/* ends nav MENU: left and right ************************************************** */


/* Section: *********************************************************************** */

section {
  margin:0 auto;
  padding: 0;
  width: auto;
  max-width: 960px;
}
section#search-tools {
  display: flex;
  width: 100%;
  max-width: 980px;
  flex-direction: row;
  flex-wrap: wrap;  
  padding: 0 10px;  
} 

section#search-tools h3, form#search-form h4, section#search-tools-buttons h4, section#important-info h3 {
  visibility: collapse;
  height: 0;
} 
section#search-tools #submit-search, section#search-tools #submit-search-mobile {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 146px; 
  height: 45px;  
} 

section#search-tools #submit-search-mobile { 
  width: 100%;
  max-width: 43px;
  height: 43px; 
} 

section#search-tools form input {
  border: 1px solid #ccc;
  border-right: none;
} 

/*  starts Range Slider*/

section#search-tools-date-slider input#startYear, section#search-tools-date-slider input#endYear  {
  position: absolute;
  top: 0;
  padding: 0px 8px 20px 8px;
  width: 43px;
  height: 43px;
  font-size: 13px;
  font-weight: normal;
  color: white;
  background-color: #1c75c0;
  background-image: none;
  border: 0;
  border-radius: 3px; 
}

#startYear  {    
  left: 0;
}


#endYear  {  
  right: 0;
}

section#search-tools-date-slider a {
text-decoration: none;
}
.ui-widget-header {
  background: #1c75c0 !important;
  border: none !important;
}
.ui-datepicker table {

  background-color: white !important;
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  max-width: 337px !important;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: center;
  height: inherit;
  max-height: 50%;
}

#datepicker {
  display: block ruby;
}
.ui-datepicker-inline, .ui-datepicker {
  display: contents;
}

section#search-tools-date-slider {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left; 
  margin: 15px 0;
  padding: 0;
}

.ui-widget.ui-widget-content {
  border: 0.66px solid #ccc;
  height: 1.01em;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background: #1c75c0;
  font-weight: normal;
  color: #454545;
  border-radius: 10px;
  margin-top: 2px;
}
#slider-range-container {
position: relative;
  margin: 0 auto;
padding: 6px 0 0 0;
border: none;
width: 100%;
height: 43px;
  }

  #slider-range-container span.searchCalendarDay {
    position: relative;
    z-index: 1;
    color: white;
    width: 100%;
    width: 43px;
    font-size: 11px;
    margin-top: 20px;
    top: 16px;
    left: 5px;
    font-size: 11px;
    border-top: 1px solid #ffffff6b;
    padding-top: 3px;
  }

  .ui-slider-horizontal .ui-slider-handle {
    
    margin-left: -.4em !important;
}

  #slider-range-container span.searchCalendarDayRight {
    position: absolute;
    z-index: 1;
    color: white;
    width: 100%;
    width: 35px;
    font-size: 11px;
    margin-top: 0px;
    top: 22px;
    right: 4px;
    font-size: 11px;
    border-top: 1px solid #ffffff6b;
    padding-top: 4px;
    display: block;
  }


#slider-range {
margin: auto 70px;
border: none;
background-color: darkgray;
height: 0.06em;

  }

  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 1 !important;
    top: -0.5em !important;
    width: 0.8em !important;
    height: 0.8em !important;
    cursor: default;
    background-color: #1c75c0 !important;  
    outline: none !important; 
    cursor: grab !important;
}

.ui-slider .ui-slider-handle:hover {
  
  background-color: #1c75c0;   
}

.ui-slider .ui-slider-handle:active {
  background-color: #1c75c0;
  width: 1em !important;
    height: 1em !important;
    top: -0.6em !important;
    cursor: grab;
}

section#search-tools-buttons   {
  position: relative;  
  display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 17px 0;
    padding: 0;
}

section#search-tools-buttons form {
  margin-right: 7px;
}

section#search-tools-buttons form button  {
  padding: 7px 12px; 
  height: auto;
  width: auto;
}

section#search-tools-buttons form#search-form-advanced {
  height: auto;
  width: auto;
}

section#search-tools-buttons form#search-form-advanced button  {
  position: absolute; 
  right:0;
  height: auto;
  width: auto;
  display: block;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
}

form#search-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 960px;  
  }

form#search-form span.search-input-button {
  width: 100%;
  display: flex;
  flex-direction: row;
}

form#search-form input {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #ffffff url(../img/magnifier.svg) no-repeat 14px 14px;
    padding-top: 3px;
    padding-left: 42px;
    border: 1px solid #ccc;
    outline: none !important;
    font-size: 18 px !important;    
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
    transition: 0.2s;
    }

    form#search-form input:hover {
      -webkit-box-shadow: 0px 4px 5px -2px rgba(0 0 0 / 25%);
      box-shadow: 0px 4px 5px -2px rgba(0 0 0 / 25%);

    }
/* Slider */
    form#search-form ion-range {          
      height: auto;
      display:flex;
      flex-direction: row;
      padding: 0;
    }

    form#search-form ion-range .range-pin {          
     outline: 1px solid red;
    }

/* HOME CONTENT --- */

section#home-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

section#home-content h3 {
visibility: collapse;
height: 0;
}

section#home-content h4 {
  padding: 11px 6px 11px 14px;
  font-weight: normal;
  font-size: 1em;
}

/* Pages and images search results */

body#pages-search-results button#nav-options-right-button {
  display: block;
}

section#pages-results, section#images-results {
  height: 100%;
  padding: 20px 0;
}

section#pages-results h3, section#images-results h3  {
  visibility: hidden;
  height: 0;
}

section#pages-results > p, section#images-results > p  {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 10px;  
  font-size: 13px;
  color:#70757a;
  max-width: 960px;
  margin: 0 auto;
}

section#pages-results ul {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 0%);
  cursor: pointer;
  transition: box-shadow 0.3s;
} 

section#pages-results ul:last-child {
  margin-bottom: 0px !important; 
  outline: 1px solid red; 
} 

section#pages-results ul:hover, section#pages-results ul:active {
  transition: box-shadow 0.3s;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
}

section#pages-results ul > li > p {
  font-family: arial,sans-serif;
  color: #4d5156;
  font-size: 14px;
  line-height: 1.58;
  text-align: left;
}

section#pages-results ul > li > p.results-url, section#pages-results ul > li > p.results-date  {
  padding-bottom: 10px;
}

section#pages-results ul > li > a  {
  text-decoration: none; 
}

section#pages-results ul > li > a:hover  {
  text-decoration:underline; 
}

section#pages-results ul > li > a.results-url  {
  color: #009688;
  font-size: 14px;   
}

section#pages-results ul > li > a.results-title  {
  display: block;
  padding: 10px 0 0 0;
  font-size: 20px;
  color: #1a0dab;     
}

section#pages-results ul > li > a.results-date  {
  color: #1a0dab;
  font-size: 20px; 
  font-style: italic; 
}

section#pages-results ul > li > a.results-summary  {
  display: block;
  text-decoration: none;
  padding-bottom: 0;
  color: #4d5156;
  font-size: 14px;
  line-height: 1.58;
}

section#pages-results ul > li > a.results-summary em  {
  font-weight: bold;
}

section#images-results ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
}

section#images-results ul > li {
 position: relative;
 width: 20%;
 min-width: 180px;
 margin: 0 0 0 0;
 padding: 10px 10px 13px 10px;
 border: 1px solid #f7f7f7;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 flex-grow: 1; 
 justify-items: center;
 align-content:flex-start;
 align-items: center;
 justify-content: center;
 }

 section#images-results ul > li button.zoom-image {
  position: absolute;
  right: 0;
  top: 0px;
  padding: 5px;
  font-size: initial; 
  display: none;  
  color:white;
  background-color:#009687d0;
  border: none; 
 }

  section#images-results ul > li:hover button.zoom-image {
  display: block; 
  color:white; 
  background-color:#009687c5;
 }

 section#images-results ul > li button.zoom-image:hover {
  color:white; 
  background-color:#026157c0;   
 }

 section#images-results ul > li:hover {  
  background-color: #f5f5f5;
  }
  section#images-results ul > li > ul > li:hover {
  border: none; 
  }

 section#images-results ul > li > ul {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  font-size: small;
  }

 section#images-results ul > li > ul > li {
    width: 100%;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
    font-size: 0.9em;
    padding: 0;
    border: none;
  }

  section#images-results ul > li > ul > li {
    width: 100%;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
    font-size: 0.9em;
    padding: 0;
    border: none;
  }

  section#images-results ul > li > ul > li.results-url {
    display: flex;
    padding: 10px 0 5px 0;    
  }

  section#images-results ul > li > ul > li a  {
    padding-top: 10px;
    color: teal;
    text-decoration: none; 
    font-size: x-small;
    display: flex; 
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden; 
    
  }

  section#images-results ul > li > ul > li a:hover  {
    background-color: transparent;
  
  }

  section#images-results ul > li > ul > li p  {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 4px; 
  }

 section#images-results ul li a img {
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 0%);
  cursor: pointer;
  transition: box-shadow 0.3s;
  width: 100%;
  max-width: 93%;  
 }

 section#images-results ul li:hover a img {
  box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 60%);
    cursor: pointer;
    transition: box-shadow 0.3s;
 }

 section.navigation-tools {
  position: relative;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: space-between;
  padding: 20px 0;  
  border-top: 1px solid #ccc;
  align-content: center;
  align-items: center;
  font-size: small;
} 

section.navigation-tools p {
  color: #4d5156;
} 

section.navigation-tools button {
  padding: 6px 8px;
  border-radius: 3px;
} 

/* ends Pages and images search results */

section#home-content h3 {
visibility: collapse;
height: 0;
}

section#home-content h4 {
  padding: 11px 6px 11px 14px;
  font-weight: normal;
  font-size: 1em;
}

/* article ************************************************************* */
article {
  justify-content: space-between;
  margin: 5px 0px;
  padding: 0;  
  background-color: #eaeaea !important;
  border-radius: 10px;
  width: 49.30%;
}

article figure {
  border-radius: 10px;
}

article img {
  border-radius: 10px;
  width: 100%;
}

article iframe {
  width: 100%;
  height:269px;
  border-radius: 10px;
}

figure {
  margin: 0;
  padding: 0;  
}

article#arquivo-pt-award {  
  margin: 0 0 5px 0;
  background-color: #eaeaea !important;
  width: 100%;
  overflow: hidden;
}

article h3 {  
  padding: 13px 14px;
  font-size: 1.05em;
  font-weight: normal;
  color: black !important;
  line-height: 0.9em !important;
}

article#arquivo-pt-award figure{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%;
}

/* Footer * ******************************************************/

footer {
background-color: #033f72;
color: white;
margin: 50px 0 0 0;
padding: 50px 0 0 0;
}

footer ul {
  line-height: 1.5em;
}

footer a {
  color: white;
  font-size: 0.8em;  
  text-decoration: none;
}

footer a:hover, footer a:active, footer a:visited {
 color:white;
  background-color: transparent;

}

footer a:hover {
  color: inherit;
  text-decoration: underline;
 }

footer section {
  padding: 0;
  margin: 0 auto;  
}

footer section#important-info {
  display:flex;
  flex-direction: row;
  justify-content: inherit;
  flex-wrap: wrap;
  width: 100%; 
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px; 
}

footer section section {
  padding: 0;
  margin: 0; 
  width: 25%;
}

footer section section h3 {
visibility: collapse;
height: 0;
}

footer section section h4 {
  padding-bottom: 3px;
  font-size: 1.1em;
  font-weight: 500;
  
}

footer section#institutional {  
  max-width: 100%;
  margin: 50px auto 0 auto;
  padding: 40px 0 20px 0;
  background: #e4dfdf;
  text-align: center;
}

footer section#institutional h4 {  
  visibility: collapse;
  height: 0;   
}

footer section#institutional img {  
  height: 45px;
  margin: 20px 5%;
}

footer section#institutional p {  
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0 0 0;
  color: black;
  font-size: x-small;  
}
 
/*********************************/
/********* MEDIA QUERIES *********/
/*********************************/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  section#search-tools #submit-search-mobile {
    display: none; 
   }
   body#pages-search-results button#nav-options-right-button, body#images-search-results button#nav-options-right-button  {
    display: block;
  }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  section#search-tools #submit-search-mobile {
    display: none; 
   }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  section#search-tools #submit-search-mobile {
    display: none; 
   }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  section#search-tools #submit-search-mobile {
    display: none; 
   }
}

@media (min-width: 482px) and (max-width: 900px) {
 section#search-tools #submit-search-mobile {
  display: none; 
 }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) { 
  header button#nav-menu-button-left {
    display: none;
  }
  header button#nav-menu-mobile-button-left {
    display: block;
    position: absolute;
    left: 13px; 
    font-size: 1.2em;
    border-radius: 3px;   
    width: 31px;
    height: 31px;
  }

  .background-top-curve {    
    height: 10px;
}
section#search-tools #submit-search {
  display: none; 
 }

section#search-tools #submit-search-mobile {
  display: block; 
 }

 section#home-content h4 {  
  font-size: 0.95em;
}

  article {
    width: 49.1%;
   }
   article iframe {     
    height: 157px;      
}
  /* Images: results */
  section#images-results ul li a img {
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 0%);
    cursor: pointer;
    transition: box-shadow 0.3s;
    width: 100%;
    max-width: 180px;
  }
   footer section section {
   width: 50%;
   padding: 20px 30px 20px 50px;
   }
   footer section section h4 {
    font-size: 1em;
    font-weight: 500;
 }
   footer section#institutional img {
    height: 36px;
    margin: 20px 5%;
 }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  header button#nav-menu-button-left {
    display: none;
  }

  header button#nav-menu-mobile-button-left {
    display: block;
    position: absolute;
    left: 13px; 
    font-size: 0.8em;
    border-radius: 5px;   
    width: 31px;
    height: 31px;
  }

  section#home-content h4 {  
    font-size: 0.95em;
}

  .background-top-curve {    
    height: 10px;
}

section#search-tools #submit-search {
  display: none; 
 }

section#search-tools #submit-search-mobile {
 display: block; 
}
    article {
    width: 100%;
    }
    article iframe {     
      height: 200px;      
  }

  footer section section {
    width: 100%;
    padding: 12px;
    }

  footer section section h4 {
      font-size: 1em;
      font-weight: 500;
  }
  footer section#institutional img {
      height: 36px;
      margin: 20px 5%;
  }
}

/* Galaxy Fold
  ##Screen = B/w 280px to 480px
*/
@media (min-width: 280px) and (max-width: 480px) {
  
  header button#nav-menu-button-left {
    display: none;
  }

  header button#nav-menu-mobile-button-left {
    display: block;
    position: absolute;
    left: 13px; 
    font-size: 0.9em;
    border-radius: 5px;   
    width: 31px;
    height: 31px;
  }

  .background-top-curve {    
    height: 10px;
}
section#search-tools #submit-search {
  display: none; 
 }

 section#search-tools #submit-search-mobile {
  display: block; 
 }
    article {
    width: 100%;
    }
    article iframe {     
      height: 200px;      
  }

  footer section section {
    width: 100%;
    padding: 12px;
    }

  footer section section h4 {
      font-size: 1em;
      font-weight: 500;
  }
  footer section#institutional img {
      height: 36px;
      margin: 20px 5%;
  }
}




.range-knob-handle {
  left: 0px;
  top: calc((var(--height) - var(--knob-handle-size)) / 2);
  margin-left: calc(0px - var(--knob-handle-size) / 2);
  position: absolute;
  width: var(--knob-handle-size);
  height: 1px !important;
  color: #e2e2e2 !important;
  text-align: center;
}
