:root {
/* Anchor links -------------------------------*/

/* a:link */
--a-link-color:             #1c75c0;
--a-link-border:            1px solid #1c75c0;
--a-link-border-radius:     5px;

/* a:hover */

/* a:active */

/* a:visited*/

/* Headings */

/* Paragraph */

/* Image */

/* Lists */
}