<section id="home-content">    
  <h3>Highlighted</h3>
    <article id="arquivo-pt-award"> 
        <h4>Arquivo.pt Award</h4>
       <picture>
            <source media="(min-width:320px) and (max-width:550px)" srcset="img/homepage-premio-card-mobile-en.jpg" title="Click here to know more about this award">
            <img src="img/homepage-premio-card-en.jpg" alt="Click here to know more about this award" title="Click here to know more about this award">
       </picture>       
    </article>     
    <article id="what-is-arquivo-pt">  
        <h4>What is Arquivo.pt?</h4>
        <iframe src="https://www.youtube.com/embed/dqG0VILi3gs?controls=0&rel=0&modestbranding=1" title="What is Arquivo.pt" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</article>     
    <article id="testimonials">
        <h4>User testimonials</h4>
        <figure>
        <iframe src="https://www.youtube.com/embed/_pNlBMGb5DQ?controls=0&rel=0&modestbranding=1" title="Testimonials about Arquivo.pt" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
</article>    
    <article id="example-preserved-pages"> 
        <h4>Example of preserved pages</h4>
        <figure>
        <a href="#"><img src="img/page-examples-en.jpg" alt="Click here to know more about preserved pages" title="Click here to know more about preserved pages"></a>
        </figure>
</article>    
    <article id="theme-exhibitions">
        <h4>Theme exhibitions</h4>
        <figure>
        <a href="#"><img src="img/exhibitions-en.jpg" alt="click here to know more about theme exhibitions" title="Click here to know more about theme exhibitions"></a>
        </figure>
</article>
</section>
