<!-- starts white background bottom corner rounded shape -->
<div class="background-bottom-curve"></div>
<!-- ends white background top corner rounded shape -->
<!-- starts footer -->  
<footer> 
  <!-- starts wrap About, News, Collaborate and Help sections -->
  <section id="important-info">
    <h3>Important Information</h3> 
  <!-- starts Sobre, Notícias, Colabore and Ajuda -->  
  <section id="useful-links">
    <!-- About -->
    <h4>About</h4>
    <ul>      
      <li><a href="https://sobre.arquivo.pt/en/help/what-is-arquivo-pt/">What is Arquivo.pt?</a></li>
      <li><a href="https://sobre.arquivo.pt/en/publications/">Publications</a></li>
      <li><a href="https://arquivo.pt/examples/">Examples of preserved pages</a></li>
      <li><a href="https://arquivo.pt/press">Press</a></li>
      <li><a href=" https://github.com/arquivo/pwa-technologies/wiki">Open-source and API</a></li>
      <li><a href="https://sobre.arquivo.pt/en/about/terms-and-conditions/">Terms and Conditions</a></li>
    </ul>    
  </section>
  <section id="news">
  <!-- News -->
  <h4>News</h4>
    <ul>      
      <li><a href="https://groups.google.com/forum/#!forum/arquivopt-international/join">Subscribe mailing list</a></li>
      <li><a href="https://sobre.arquivo.pt/en/news/">Latest news</a></li>
      <li><a href="https://twitter.com/pt_webarchive">Twitter</a></li>
      <li><a href="https://www.facebook.com/PortugueseWebArchive/">Facebook</a></li>
      <li><a href="https://sobre.arquivo.pt/en/rss/">Subscribe RSS</a></li>
      <li><a href="https://sobre.arquivo.pt/en/publications/videos/">Videos</a></li>
    </ul> 
    </section>
    <section id="collaborations">
    <!-- Collaborations -->
    <h4>Collaborations</h4>
    <ul>     
      <li><a href="https://arquivo.pt/awards">Arquivo.pt Awards</a></li> 
      <li><a href="https://arquivo.pt/suggest">Suggest a site</a></li>
      <li><a href="https://sobre.arquivo.pt/en/about/press/dissemination-materials/">Dissemination materials</a></li>
      <li><a href="https://arquivo.pt/recommendations">Publish preservable sites</a></li>
      <li><a href="https://sobre.arquivo.pt/en/collaborate/supplying-historical-portuguese-web-contents/">Supply historical web content</a></li>
      <li><a href="https://sobre.arquivo.pt/en/collaborate/rd/">Research & development</a></li>
    </ul>
    </section>
    <section id="help">
    <!-- Collaborations -->
    <!-- Help -->
    <h4>Help</h4>
    <ul>
      <li><a href="https://sobre.arquivo.pt/en/help/search/">Search</a></li>
      <li><a href="http://sobre.arquivo.pt/pt/ajuda/pesquisa-avancada/">Advanced search</a></li>
      <li><a href="https://sobre.arquivo.pt/en/help/access-to-archived-contents/">Access</a></li>
      <li><a href="https://sobre.arquivo.pt/en/help/crawling-and-archiving-web-content/">Crawling and archiving</a></li>
      <li><a href="https://sobre.arquivo.pt/en/help/">Frequently asked questions</a></li>
      <li><a href="https://sobre.arquivo.pt/en/help/training-courses-by-arquivo-pt/">Training courses</a></li>
      <li><a href="https://sobre.arquivo.pt/en/contact/">Contact</a></li>
    </ul>
    </section>      
</section>
<!-- ends wrap About, News, Collaborate and Help sections -->
<!-- starts institutional links -->
<section id="institutional">
  <h4>Institutional</h4>
    <!-- starts FCT image logo link --> 
    <a href="//www.fccn.pt/" target="_blank" title="Visit the website of FCCN - Funda&ccedil;&atilde;o para a computa&ccedil;&atilde;o Cient&iacute;fica Nacional"> <img src="img/logo-fccn.png" alt="FCCN - Funda&ccedil;&atilde;o para a computa&ccedil;&atilde;o Cient&iacute;fica Nacional"></a> 
    <!-- ends FCT image logo link --> 
       <!-- starts República Portuguesa image logo link --> 
    <a href="//www.portugal.gov.pt/pt/ministerios/mctes.aspx" target="_blank" title="Visit the website of the Portuguese government"> <img src="img/gov-pt.png" alt="Portuguese government"></a> 
    <!-- ends República Portuguesa image logo link --> 
    <!-- starts copyright  -->
    
    <p>&copy;<script>var d = new Date(); document.write(d.getFullYear());</script> – FCT | FCCN, all rights reserved.
    <!-- ends copyright  -->
  </section>
  <!-- ends institutional links -->  
</footer>
<!-- ends footer --> 
</body>
<!-- ends document body content -->
</html>
