<!-- starts menu left navigation -->
<nav id="replay-left-nav">
<h3>Replay left menu navigation</h3> 
<!-- Hidden for future usage <button id="left-nav-close-button" onclick="closeLeftMenuNav()"><span>&times;</span></button>-->
<section>
  <h4>Replay left menu navigation list</h4> 
    <ul>
      <!-- starts table and list: show results as a table or as a list -->      
      <li id="replay-table"><form action="replay-table-list-results" method="GET"><button><span class="fas fa-table" aria-hidden="true"></span>Table</button></form></li>
      <li id="replay-list"><button type="submit"><span class="fas fa-list" aria-hidden="true"></span>List</button></li>
      <!-- ends table and list: show results as a table or as a list -->    
      <li class="menu-pages-replay-year"><a href="javascript:(void)" class="accordion-left-menu">2021<span class="number-of-versions">10 versions</span></a>
        <ul class="panel">
          <li class="menu-pages-replay-month"><a href="pages">January</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="date-selected menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
          <li class="menu-pages-replay-date-hour"><a href="pages-advanced-search">11 January at 20:04</a></li>
        </ul>
      </li>
    </ul>
</section>
</nav> 
<!-- ends left nav menu list -->
<!-- starts accordion -->  
<script>
var acc = document.getElementsByClassName("accordion-left-menu");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<!-- ends accordion -->  
<!-- ends left nav menu --> 