@charset "utf-8";
/* Start main CSS styles ---------------------------------------------*/

/* BODY ****************************************************************** */

body {
  overflow: auto;
  overflow-x:hidden;
}

/* ANCHOR LINKS ********************************************************** */

a {
  color:white;
}
a:hover {
  color:blue;
  background-color: white;
}
a:active {
  color:blue;
  background-color: white;
}
a:visited {
  color: blueviolet; 
}

/* BUTTONS ************************************************************** */

button {
  position: relative;
  z-index: 1;
  background-color: #1c75c0;
  color: white;
  border-radius: 5px ;
  border: 1px solid #1c75c0;
  outline: none;
}
button:hover {
  background-color: white;
  color: #1c75c0;
  border: 1px solid #1c75c0;
  cursor: pointer;
  outline: none;
}
button:active {
  background-color: #033f72;
  color: #f9fcff;
  cursor: pointer;
  border: 1px solid #033f72;
  outline: none;
}

/* HEADINGS  ************************************************************* */

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  margin: 0;
  padding: 0;
}
h1, h2 {
  visibility: collapse;
  height: 0;
}

/* PARAGRAPH ************************************************************* */

/* Lists */

/* Definition lists */

/* Images */

/* HEADER *********************************************************** */

header {
  width: 100%;
  height: auto;
  background-color:#033f72;
  text-align: center;
  position: relative;
  padding: 8px 0 4px 0;
 }

header a#logo-arquivo-link:hover {
  background-color: transparent;
}

/* Skip navigation menu and go to main content */
header a#skip-navigation-links {
  display: none;
}

header button#nav-menu-button-left  {
  position: absolute;
  left: 13px; 
  font-size: 0.8em;
  border-radius: 5px;   
  width: 54px;
  height: 31px;   
 }

 header button#nav-options-right-button  {
  position: absolute;
  right: 13px; 
  font-size: 0.8em;
  border-radius: 5px; 
  display: block;  
  width: 66px;
  height: 31px; 
 }

 header img {
  width: 162px;
 } 

 /* Main ************************************************************* */
main {
  width:100%;
  height: auto;
  max-width: 980px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; 
  padding:0 10px;
  margin: 0 auto;
}

/* nav menus: left nav, options, replay and replay right nav  **************************************************************** */

nav#left-nav, nav#options-right-nav, nav#replay-nav, nav#replay-right-nav  {
position: absolute;
z-index: 3;
top: 0px;
background-color:#033f72;
padding: 46.5px 0px;
height: 100vh;    
transition: 0.25s;
color: white;
outline: none;
}

nav#left-nav { 
  left: -209px;    
  width: 200px; 
}

nav#options-right-nav { 
  right: -209px;    
  width: 200px;  
  display: none;
}

nav#replay-nav { 
  left: -209px;    
  width: 200px; 
  display: none; 
}

nav#replay-right-nav { 
  right: -209px;     
  width: 200px;
  display: none; 
}

/* "hidden" white rectangle with both left and right top corners curved, below the arquivo.pt logo */ 

.background-top-curve {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20px;  
  background-color: white;
  width: 100%; 
  position: relative;
  z-index: 0;
  margin: 0;
  top: 4px;
}

nav#left-nav button, nav#options-right-nav button, nav#replay-nav button, nav#replay-right-nav button {
  position: absolute;
  z-index: 3;
  top: 5px;
  right: 7px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  }

nav#left-nav button span, nav#options-right-nav button span  {
    font-size: 26px;
    font-weight: lighter;  
    }

nav#left-nav section, nav#options-right-nav section  {
position: relative;
z-index: 3;
margin: 0 0 0 0;
padding: 0;
height: 100%;
color: white;
}

nav#left-nav h3, nav#options-right-nav h3, nav#replay-nav h3, nav#replay-right-nav h3, nav#left-nav h4, nav#options-right-nav h4, nav#replay-nav h4, nav#replay-right-nav h4  {
   visibility: collapse;
   height: 0;
    }

/* Accordion menus: left nav, options, replay and replay right nav ********************************** */

.accordion-left-menun {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25em;
  transition: 0.1s;
}
.active, .accordion-left-menu:hover {
  background-color: transparent;
}
.accordion-left-menu:after {
  content: "\002B";
  float: right;
  font-size: inherit;
}
.active:after {
  content: "\2212";
  float: right;
  font-size: 1.25em;
}
.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* starts nav MENU: left and right **************************************************
***********************************************************************************
******************************************************************************* */

nav#left-nav section ul, nav#options-right-nav section ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 2.6em;
  text-align: left;  
  }

nav#left-nav section ul > li, nav#options-right-nav section ul > li { 
  border-top: 1px solid #e3e3e32e; 
  display: block;  
}

nav#left-nav section ul > li a, nav#options-right-nav section ul > li a{ 
    display: block;
    text-decoration: none;
    color: white;
    padding: 0px 16px 0px 15px;
    font-size: 0.85em;   
  }

/* starts Font Awesome icons */
nav#left-nav section ul > li span, nav#options-right-nav section ul > li span { 
  padding-right: 8px;  
}
/* ends Font Awesome icons */

nav#left-nav section ul > li a:hover, nav#options-right-nav section ul > li a:hover {    
  color:#033f72;
  background-color: white;
}
/* nav sub-menu ******************************************************************* */
nav#left-nav section ul > li > ul > li a, nav#options-right-nav section ul > li > ul > li a { 
  padding: 0 0 0 25px;
  font-size: 0.85em;
}
/* ends nav MENU: left and right ************************************************** */


/* Section: *********************************************************************** */

section {
  margin:0 auto;
  padding: 0;
  width: auto;
  max-width: 960px;
}
section#search-tools {
  display: flex;
  width: 100%;
  max-width: 980px;
  flex-direction: row;
  flex-wrap: wrap;  
  padding: 0 10px;  
} 

section#search-tools h3, form#search-form h4, section#search-tools-buttons h4, section#home-content h4,section#important-info h3 {
  visibility: collapse;
  height: 0;
} 
section#search-tools #submit-search {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 146px; 
  height: 45px;  
} 

section#search-tools form input {
  border: 1px solid #ccc
} 

section#search-tools-date-slider{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left; 
  margin: 15px 0;
  padding: 0;
}

ion-range {
  padding: 0;
}

section#search-tools-buttons   {
  position: relative;  
  display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
    padding: 0;
}

section#search-tools-buttons form {
  margin-right: 7px;
}

section#search-tools-buttons form button  {
  padding: 7px 12px; 
  height: auto;
  width: auto;
}

section#search-tools-buttons form#search-form-advanced {
  height: auto;
  width: auto;
}

section#search-tools-buttons form#search-form-advanced button  {
  position: absolute; 
  right:0;
  height: auto;
  width: auto;
  display: block;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
}

form#search-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 960px;  
  }

form#search-form span.search-input-button {
  width: 100%;
  display: flex;
  flex-direction: row;
    }

  form#search-form input {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #ffffff url(../img/magnifier.svg) no-repeat 10px 14px;
    padding-left: 32px;
    border: 1px solid #ccc;
    outline: none !important;
    font-size: 18 px !important;    
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
    transition: 0.2s;
    }

    form#search-form input:hover {
      -webkit-box-shadow: 0px 4px 5px -2px rgba(0 0 0 / 25%);
      box-shadow: 0px 4px 5px -2px rgba(0 0 0 / 25%);

    }

    form#search-form ion-range {          
      height: auto;
      display:flex;
      flex-direction: row;
      padding: 0;
      }

/* HOME CONTENT ---*/

section#home-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

section#home-content h3, section#home-content h4 {
visibility: collapse;
height: 0;
}

/* article ************************************************************* */
article {
  justify-content: space-between;
  margin: 5px 0px;
  padding: 0;  
  background-color: #eaeaea !important;
  border-radius: 10px;
  width: 49.50%;
}

article figure {
  border-radius: 10px;
}

article img {
  border-radius: 10px;
  width: 100%;
}

article iframe {
  width: 100%;
  height:269px;
  border-radius: 10px;
}

figure {
  margin: 0;
  padding: 0;  
}

article#arquivo-pt-award {  
  margin: 0 0 5px 0;
  background-color: #eaeaea !important;
  width: 100%;
  overflow: hidden;
}

article h3 {  
  padding: 13px 14px;
  font-size: 1.05em;
  font-weight: normal;
  color: black !important;
  line-height: 0.9em !important;
}

article#arquivo-pt-award figure{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%;
}

/* Footer * ******************************************************/

footer {
background-color: #033f72;
color: white;
margin: 50px 0 0 0;
padding: 50px 0 0 0;
}

footer ul {
  line-height: 1.5em;
}

footer a {
  color: white;
  font-size: 0.8em;  
  text-decoration: none;
}

footer a:hover, footer a:active, footer a:visited {
 color:white;
  background-color: transparent;

}

footer a:hover {
  color: inherit;
  text-decoration: underline;
 }

footer section {
  padding: 0;
  margin: 0 auto;  
}

footer section#important-info {
  display:flex;
  flex-direction: row;
  justify-content: inherit;
  flex-wrap: wrap;
  width: 100%; 
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px; 
}

footer section section {
  padding: 0;
  margin: 0; 
  width: 25%;
}

footer section section h3 {
visibility: collapse;
}

footer section#institutional {  
  max-width: 100%;
  margin: 50px auto 0 auto;
  padding: 40px 0 20px 0;
  background: white;
  text-align: center;
}

footer section#institutional h4 {  
  visibility: collapse;
  height: 0;   
}

footer section#institutional img {  
  height: 49px;
  margin: 20px 5%;
}

footer section#institutional p {  
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0 0 0;
  color: black;
  font-size: small;  
}
 
/*********************************/
/********* MEDIA QUERIES *********/
/*********************************/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
 
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media (min-width: 482px) and (max-width: 900px) {
 
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) { 
  .background-top-curve {    
    height: 10px;
}
  article {
    width: 100%;
   }
   footer section section {
   width: 50%;
   padding: 20px 30px 20px 50px;
   }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .background-top-curve {    
    height: 10px;
}
  
  article {
    width: 100%;
   }
  footer section section {
    width: 100%;
    padding: 20px;
    }
}