<!-- starts menu left navigation -->
<nav id="replay-left-nav">
  <h3>Replay left menu navigation</h3>
  <%- include('../fragments/loading-section',{
    action:'/partials/replay-nav', 
    params:requestedPage,
    //center on selected date on load
    onload: () => {
      const target = $('.date-selected');
      const scrollTarget = target.scrollParent();
      const height = scrollTarget.height(); 
      const targetHeight = target.height();
      const offset = target.offset().top;
      scrollTarget[0].scrollTop = offset - height/2 - targetHeight;
    }}) %>
</nav>

<script>

  $('#replay-left-nav').on('click', '.accordion-header', function (e) {
    e.preventDefault();
    var $this = $(this);
    if ($this.next().hasClass('show')) {
      $this.removeClass('active');
      $this.next().removeClass('show');
      $this.next().slideUp(150);
    } else {
      $this.toggleClass('active');
      $this.next().toggleClass('show');
      $this.next().slideToggle(150);
    }
  });
</script>
<!-- ends accordion -->
<!-- ends left nav menu -->