<!-- starts menu left navigation -->
<nav id="replay-left-nav">
<h3>Replay left menu navigation</h3> 
<!-- Hidden for future usage <button id="left-nav-close-button" onclick="closeLeftMenuNav()"><span>&times;</span></button>-->
<section>
  <h4>Replay left menu navigation list</h4> 
    <ul>
      <!-- starts table and list: show results as a table or as a list -->      
      <li id="replay-table"><form action="/replay-table-results" method="GET"><button type="submit"><span class="fas fa-table" aria-hidden="true"></span>Table</button></form></li>
      <li id="replay-list"><form action="/replay-list-results" method="GET"><button type="submit"><span class="fas fa-list" aria-hidden="true"></span>List</button></form></li>
      <!-- ends table and list: show results as a table or as a list -->    
      <li><a href="javascript:(void)" class="accordion-replay-left-menu-year">1996<span class="number-of-versions">10 versions</span></a>
            <ul class="">
              <li><a href="javascript:(void)" class="accordion-replay-left-menu-month">January</a>
                  <ul class="">
                    <li class=""><a href="javascript:(void)" class="accordion-replay-left-menu-day">21 </a>
                      <ul class="">
                        <li><a class="menu-pages-replay-date-hour" href="#">10:04</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">20:45</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">06:23</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">08:01</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">20:04</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">21:07</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">20:53</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">23:09</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">00:16</a></li>
                      </ul>
                    </li>
                    <li><a href="javascript:(void)" class="accordion-replay-left-menu-day">22</a>
                      <ul class="">
                        <li><a class="menu-pages-replay-date-hour" href="#">10:04</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">20:45</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">06:23</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">08:01</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">20:04</a></li>
                        <li><a class="menu-pages-replay-date-hour" href="#">21:07</a></li>                      
                      </ul>
                    </li>
              </ul>
            </li>
          </ul>
      </li>
      <li><a href="javascript:(void)" class="accordion-replay-left-menu-year">1997<span class="number-of-versions">10 versions</span></a>
        <ul class="panel">
          <li><a href="javascript:(void)" class="accordion-replay-left-menu-month">February</a>
              <ul class="">
                <li><a href="javascript:(void)" class="accordion-replay-left-menu-day">09 February</a>
                  <ul class="">
                    <li class="menu-pages-replay-date-hour"><a href="#">15:04</a></li>
                    <li class="menu-pages-replay-date-hour"><a href="#">16:45</a></li>
                    <li class="menu-pages-replay-date-hour"><a href="#">17:23</a></li>
                    <li class="menu-pages-replay-date-hour"><a href="#">20:01</a></li>
                    <li class="date-selected menu-pages-replay-date-hour"><a href="#">21:04</a></li>
                    <li class="menu-pages-replay-date-hour"><a href="#">23:07</a></li>
                  </ul>
                </li>
          </ul>
        </li>
      </ul>
  </li>
    </ul>
</section>
</nav> 
<!-- ends left nav menu list -->
<!-- starts accordion -->  
<!-- year -->
<script>
var accReplayYear = document.getElementsByClassName("accordion-replay-left-menu-year");
var i;

for (i = 0; i < accReplayYear.length; i++) {
  accReplayYear[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
// month -->

  var accReplayMonth = document.getElementsByClassName("accordion-replay-left-menu-month");
  var i;
  
  for (i = 0; i < accReplayMonth.length; i++) {
    accReplayMonth[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
  </script>

<script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
  </script>
<!-- ends accordion -->  
<!-- ends left nav menu --> 