<!-- starts menu left navigation -->
<nav id="replay-left-nav">
  <h3>Replay left menu navigation</h3>
  <%- include('../fragments/loading-section',{
      action:'/partials/replay-nav', 
      params:requestedPage,
      //center on selected date on load
      onloadmessage: 'date'
    }) %>
</nav>

<!-- ends left nav menu -->