<% if (typeof functionName == 'undefined') {
    functionName = 'openOptionstMenuNav'; 
} %>

<button id="nav-options-right-button" class="button fas fa-ellipsis-h" value="top navigation right menu options button" onclick="<%= functionName %>()"><span class="button-title"><%= t('options.button') %></span></button> 