<% if (typeof functionName == 'undefined') {
    functionName = 'openOptionstMenuNav'; 
} %>

<button id="nav-options-right-button" class="button" value="top navigation right menu options button" onclick="<%= functionName %>()"><%= t('options.button') %></button> 
<button id="nav-options-right-button-mobile" class="fas fa-ellipsis-h" aria-hidden="true" value="top navigation right menu options button" onclick="<%= functionName %>()"></button> 
