<%
  const year = requestedPage.timestamp.slice(0, 4);
  const month = requestedPage.timestamp.slice(4, 6);
  const day = requestedPage.timestamp.slice(6, 8);
  const hours = requestedPage.timestamp.slice(8, 10);
  const minutes = requestedPage.timestamp.slice(10, 12);
  const seconds = requestedPage.timestamp.slice(12, 14);
  const date = t('common.date.long',{
    year: year,
    month: t('common.months.'+month),
    day: parseInt(day),
    hours: hours,
    minutes: minutes
  });
%>
<!-- starts right nav menu -->
<nav id="replay-right-nav">
<h3>Right menu navigation</h3> 
<button id="right-nav-close-button" onclick="closeReplayRightMenuNav()"><span>&times;</span></button>
<section>
  <h4>Right menu navigation list</h4>
    <ul>
      
      <li><a href="javascript:void(0)" class="link-line-height"><span class="fas fa-link" aria-hidden="true"></span><%- requestedPage.url %></a><span class="page-date"><%- date %></span></li>
      <li><a href="/page/search?q=<%- requestedPage.url %>"><span class="fas fa-list" aria-hidden="true"></span>List versions</a></li>
      <li><a href="#technical-details" rel="modal:open"><span class="fas fa-info-circle" aria-hidden="true"></span>Technical details</a></li>
      <li><a href="#screenshot" rel="modal:open""><span class="fas fa-camera" aria-hidden="true"></span>Screenshot</a></li>
      <li><a href="#print" rel="modal:open"><span class="fas fa-print" aria-hidden="true"></span>Print</a></li>
      <li><a href="#complete-the-page" rel="modal:open"><span class="fas fa-laptop-medical" aria-hidden="true"></span>Complete the page</a></li>
      <li><a href="<%- config.get('noFrame.replay.url') + '/' +requestedPage.fullUrl %>" ><span class="fas fa-expand-arrows-alt" aria-hidden="true"></span>Fullscreen</a></li>
      <li><a href="#replay-with-old-browser" rel="modal:open"><span class="fab fa-internet-explorer" aria-hidden="true"></span>Replay with old browser</a></li>
    </ul>
</section>
</nav>
<!-- ends right nav menu -->