<% 
let tableRequestData,listRequestData; 
if (typeof requestData=='undefined' ){ 
  tableRequestData = new URLSearchParams();
  tableRequestData.set('viewMode','table'); 
  listRequestData = new URLSearchParams();
  listRequestData.set('viewMode','list'); 
} else {
  tableRequestData = new URLSearchParams(requestData);
  tableRequestData.set('viewMode','table'); 
  listRequestData = new URLSearchParams(requestData);
  listRequestData.set('viewMode','list'); 
} 
let selection='none'; 
if(typeof currentSelection !='undefined' ){
  selection=currentSelection; 
  } 
%>


<form id="replay-table" action="/url/search" method="GET">
  <%- include('../fragments/hidden-search-inputs',{requestData: tableRequestData}) %>
    <button id="replay-table-button" type="submit" <% if (selection=='table' ) { %> disabled<% } %>><span
          class="fas fa-table" aria-hidden="true"></span> <%= t('url-search.nav.button.table') %></button>
</form>

<form id="replay-list" action="/url/search" method="GET">
  <%- include('../fragments/hidden-search-inputs',{requestData: listRequestData}) %>
    <button id="replay-list-button" type="submit" <% if (selection=='list' ) { %> disabled<% } %>><span
          class="fas fa-list" aria-hidden="true"></span> <%= t('url-search.nav.button.list') %></button>
</form>