<!-- starts h1 -->
<h1>Arquivo.pt – search pages from the past!</h1>
<!-- ends h1 -->

<!-- starts h2 -->
<h2>Arquivo.pt – the Portuguese web-archive is a research infrastructure that enables search and access to files
  archived from the web since 1996. Its main objective is the preservation of information published on the Web for
  research purposes.</h2>
<!-- ends h2 -->

<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->

<!-- starts WCAG 2.1: G1: Add a link (the first link of the page) at the top of each page to directly access the main content area -->
<a href="#main-content" id="skip-navigation-links" class="button" title="Skip navigation links and jump to the main content">Skip links</a> 
<header>  
  <button id="nav-menu-button-left" class="button" value="top navigation left menu button" onclick="openLeftMenuNav()">Menu</button> 
  <button id="nav-menu-mobile-button-left" class="fas fa-bars" aria-hidden="true" value="top navigation left mobile menu button" onclick="openLeftMenuNav()"></button>
  <button id="nav-options-right-button" class="button" value="top navigation right menu options button" onclick="openOptionstMenuNav()" style="display:none" >Options</button> 
  <a id="logo-arquivo-link" href="/">
    <img id="logo-arquivo" src="img/arquivo-logo-white.svg" alt="Arquivo.pt">
  </a>
  
<!-- Include left and right nav -->
<%- include("../menu/left_nav_menu") -%>
<%- include("../menu/options_right_nav_menu") -%>

<!-- starts white background top corner rounded shape -->
<div class="background-top-curve"></div>
<!-- ends white background top corner rounded shape -->
</header>
<!-- starts search tools section -->
<!-- starts modal with calendar -->

<!-- starts content container -->
<section class="header-content-container">
<h3>Content container</h3>  

<section id="search-tools">
<h3>Search Tools</h3>
<!-- starts search tools input -->
<form id="search-form" action="pages-search-results" method="GET">
  <h4>Search input</h4>
  <span class="search-input-button">
  <input id="submit-search-input" type="search" placeholder="Words or URL" autocapitalize="off" autocomplete="off" autofocus onmouseout="removeSearchBoxShadow()">
  <button id="submit-search" type="submit"  aria-hidden="true" value="search mobile menu button">Search</button>
  <button id="submit-search-mobile" type="submit" class="fas fa-search" aria-hidden="true" value="search mobile menu button"></button></span>

<!-- ends search tools input -->
  
<!-- starts range slider block --> 
<%- include('../fragments/search-tools-date-slider') %>
<!-- ends range slider block -->  
</form>
<!-- starts search tools buttons -->
<section id="search-tools-buttons">
  <h4>Search Pages and Images Buttons</h4>
  <form id="search-form-pages" class="buttons" action="pages" method="get">
    <button type="submit" value="Pages">Pages</button>
  </form>
  <form id="search-form-images" class="buttons" action="images" method="get">
    <button type="submit" value="Images">Images</button>
  </form>
  <form id="search-form-advanced" class="buttons" action="pages-advanced-search" method="get">
    <button type="submit" value="Advanced Search">Advanced Search</button>
  </form>
</section>
<!-- ends search tools buttons -->
</section>
<!-- ends search tools section -->

<!-- starts estimated results -->
<p id="estimated-results" <span id="estimated-results-value">About 1.261.810.181</span> results from 1996 to 2021</p></li>
<!-- ends estimated results -->

</section>
<!-- ends content container -->