<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <head>
    <!-- starts global document: <head>...</head> -->
    <%- include("../templates/head",{pagename: '404'}) -%>
    <!-- ends global document: <head>...</head> -->
    </head>

    <!-- starts document body content -->
    <body id="arquivo-404" class="arquivo-404-cl">

        <!-- starts skip to main content -->
        <%- include("../templates/fragments/skip-to-main-content") -%>
        <!-- ends skip to main content -->

        <!-- starts 404 main content -->
        <main> 
            <a id="logo-arquivo-link" href="/"><img id="logo-arquivo" src="../../img/arquivo-logo-black.svg" alt="Arquivo.pt"></a>
            <h3>N&atilde;o conseguimos encontrar a p&aacute;gina.</h3>
            <p>Pedimos desculpa por este imprevisto.</p>
            <a href="https://sobre.arquivo.pt/contacto">Avise-nos do problema.</a>
            <a href="https://arquivo.pt/">Voltar &agrave; p&aacute;gina principal.</a>
            <a href="https://sobre.arquivo.pt/">Prémio Arquivo.pt <script>var d = new Date(); document.write(d.getFullYear());</script>.</a>
        </main>
        <!-- ends 404 main content -->

    </body>
    <!-- ends document body content -->

</html>