<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <!-- starts document body content -->
    <body id="upload" class="homepage-cl">
    <form action="fileupload" method="post" enctype="multipart/form-data">
        <label for="email">Email:</label><input type="text" name="email" id="email-input">
        <input type="file" name="testFile" id="file-input">
        <input type="submit" value="Submit">
    </form>
    </body>
    <!-- ends document body content -->
    
</html>