 <!-- starts include header -->     
 <%- include("../templates/header-home") -%>
 <!-- ends include header --> 
 <!-- starts main container--> 
 <main class="main-content">      
    <!-- starts include home content -->     
    <%- include("../templates/body-home") -%>
    <!-- ends include home content -->         
</main>
    <!-- ends main container-->
<!-- starts footer -->
 <%- include("../templates/footer") -%>
<!-- ends footer --> 
        