 <!-- starts include header -->     
 <%- include("../templates/header-pages") -%>
 <!-- ends include header --> 
 <!-- starts main container--> 
 <main id="main-content">      
    <!-- starts include home content -->     
    <%- include("../templates/body-pages-advanced-search") -%>
    <!-- ends include home content -->         
    </main>
    <!-- ends main container-->
<!-- starts footer -->
 <%- include("../templates/footer") -%>
<!-- ends footer --> 
