<!doctype html>
<html lang="en-GB">
    
    <!-- starts document <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends document <head>...</head> -->

    <!-- starts document body content -->
    <body id="landing-replay" class="landing-replay-cl"> 

        <!-- starts include header -->     
        <%- include("../templates/header/header-replay") -%>
        <!-- ends include header --> 

        <!-- starts main container--> 
        <main class="main-content">    

            <!-- starts include home content -->     
            <%- include("../templates/body/body-replay") -%>
            <!-- ends include home content -->      

        </main>
        <!-- ends main container-->

    </body>
    <!-- ends document body content -->

</html>