 <!-- starts include header -->     
 <%- include("../templates/header-replay") -%>
 <!-- ends include header --> 
 <!-- starts main container--> 
 <main id="main-content">      
    <!-- starts include home content -->     
    <%- include("../templates/body-replay") -%>
    <!-- ends include home content -->         
</main>
    <!-- ends main container-->