<!DOCTYPE html>
<html lang="<%- getLanguage() %>">
    
        <!-- starts document <head>...</head> -->
        <%- include("../templates/head") -%>
        <!-- ends document <head>...</head> -->

<body style="margin: 0px; padding: 0px;">
<!-- Overwriting pywb set_state function in order to properly update our toolbar when iframe changes-->
  <div class="banner">
    <div class="banner__content">
      <div class="banner__text">
        <a id="logo-arquivo-link" href="/">
          <img id="logo-arquivo" src="/img/arquivo-logo-white.svg" alt="Arquivo.pt">
       </a>
      Save Page Now
      <div>
      Navegue para ir gravando as p&aacute;ginas
      </div>
      <div>
      <button class="banner__close" type="button">
        <span class="material-icons">
          <a id="sobre-arquivo-link" href="https://preprod.sobre.arquivo.pt/pt/savepagenow/">Concluir</a>
        </span>
      </button>
      </div>
      </div>
    </div>
  </div>
  <div id="wb_iframe_div" style="width:100%; height:100%;">
    <iframe name="replay_iframe" id="replay_iframe" src="<%- 'https://preprod.arquivo.pt/save/now/record/' + url %>" seamless="seamless" frameborder="0" scrolling="yes" class="wb_iframe noprint" target="_parent" style="overflow:hidden;height:100%;width:100%">
    </iframe>

  </div>
</body>
</html>