<section id="alert-container">
    <h3><%= t('header.alert-container.accessibility.title') %></h3>
    <p id="alert-message"><span class="fas fa-copy" aria-hidden="true"></span><%= t('header.alert-container.url-copied') %> </p>
</section>