<div id="preloader-container">
    <!--<div id="preloader-box">
        <div class="preloader"></div>
          <p><%= t('preloader.loading') %></p>
    </div>-->

    <div id="preloader-box">
        <div class="preloader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p><%= t('preloader.loading') %></p>
      </div>
</div>