<!-- starts pages search results: create a fetch loop here -->
<section id="search-suggestion-container" class="search-suggestion-container-cl">
    <h3>Search suggestions container</h3>    
    <!-- starts not-found-message --> 
    <section id="search-suggestion-message">
     <h4>Search suggestions message</h4> 
     <p id="term-suggested" >&rarr; Did you mean: <a href="pages"><%= suggestion %></a></p>
    </section> 
    <!-- ends not-found-message -->

</section>
<!-- ends pages search results -->